{{- if and (not .Values.postgresql.enabled) (not .Values.postgresql.external.existingSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "olake.postgresql.secretName" . }}
  namespace: {{ include "olake.namespace" . }}
  labels:
    {{- include "olake.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- with .Values.postgresql.external.properties }}
  {{ $.Values.postgresql.external.secretKeys.host | default "host" }}: {{ .host | quote }}
  {{ $.Values.postgresql.external.secretKeys.port | default "port" }}: {{ .port | quote }}
  {{ $.Values.postgresql.external.secretKeys.username | default "username" }}: {{ .username | quote }}
  {{ $.Values.postgresql.external.secretKeys.password | default "password" }}: {{ .password | quote }}
  {{ $.Values.postgresql.external.secretKeys.olake_database | default "olake_database" }}: {{ .olake_database | quote }}
  {{ $.Values.postgresql.external.secretKeys.temporal_database | default "temporal_database" }}: {{ .temporal_database | quote }}
  {{ $.Values.postgresql.external.secretKeys.ssl_mode | default "ssl_mode" }}: {{ .ssl_mode | quote }}
  {{- end }}
{{- end }}